@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');*{

}

body{
margin: 0;
font-family: 'Montserrat', sans-serif;
/* height: 100vh; */
position: relative;
}
a{
    text-decoration: none !important;
    color: inherit;
    
}
h2{
    margin: 0;
    font-size: 32px;
    font-weight: 700;
}
h3{
    margin: 0;
}
h4{
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}
h5{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}
p{
    margin: 0px;
    display: block;
   
}
header{
    background-color: #3B5571;
   display: flex;
   align-items: center;
   width: 100%;
   height: 104px;
}
.header-first{
    width: 100%;
    min-height: 54px;
}
.header-second{
    width: 100%;
    background-color: #43698F;
    height: 54px;
    position: absolute;
    top: 54px;

}
.header-first_content{
    width: 100%;
    flex-wrap: wrap;
}
.container{
    max-width: 1440px;
    width: 100%;
    min-width: none;
    margin: 0 50px;
}
.white{
    color: white;
    
}
.flex{
    display: flex;
}
.col{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: end;
}
footer{
    background-color: #4B6E94;
    min-height: 156px;
    
}
.main-block{
    margin-top: 150px;
    column-gap: 90px;
}
.train-block{
    width: 300px;
    height: 400px;
    border: 1px solid #B5C5D8;
    position: relative;
}
.line_1{
    background-color: #6287AA;
    width: 100%;
    height: 15px;

}
.line_2{
    background-color: #426990;
    width: 100%;
    height: 15px;

}
.line_3{
    background-color: #304F70;
    width: 100%;
    height: 15px;

}
.center{
    text-align: center;
}
.btn{
    padding: 16px 19px;
    width: fit-content;
}
.btn_info{
    border: 1px solid #000000;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-size: 14px;
    margin-right: 24px;
}
.btn_exe{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

    background-color: #4F7094;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}
.btn-nav{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

   
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 32px 25px;
}
.btn-contacts{
    background-color: #6287AA;
}
.btn-words{
    background-color: #43698F;
}
.subtitle_header{
    position: absolute;
    color: #A2BEDD;
    font-weight: bold;
    font-size: 20px;
    z-index: 3;
    padding-top: 0px;
}
.title{
    padding-top: 10px;
}
.logo{
    position: absolute;
    z-index: 3;
    margin-top: 20px;
}
.logo img{
    width: 60px;
}
.triangle{
    justify-content: end;
    position: absolute;
    z-index: 4;
    bottom: 0px;
    right: 0px;
}
.triangle1{
    justify-content: end;
    z-index: 4;
}
.triangle1_img{
    height: 114px;
}
.card-text{
    font-size: 12px;
    font-weight: normal;
}

.shape-card{
height: 150px;
width: 100%;
}
.shape-color_1{
 background-image: url("../img/Group\ 221.png");
 background-repeat: no-repeat;
}
.shape-color_2{
    background-image: url("../img/Group\ 222.png");
    background-repeat: no-repeat;
   }
.shape-color_3{
    background-image: url("../img/Group\ 223.png");
    background-repeat: no-repeat;
}
.card-text_main{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0 0 15px;
}
.card{
    margin-bottom: 35px;
}
.mb-5{
    margin-bottom: 5px !important;
}
.mb-10{
margin-bottom: 10px;
}
.mb-30{
    margin-bottom: 30px;
}
.ml-90{
    margin-left: 90px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-100{
    margin-top: 100px;
}
.mr-10{
    margin-right: 10px;
}
.ml-20{
    margin-left: 20px;
}
.wrap{
    flex-wrap: wrap;
}
.space-between{
    justify-content: space-between;
}
.w100{
    width: 100%;
}
.triangle_img{
    height: 114px;
    position: absolute;
    
}
.blockmdk{
    width: 100%;
    max-width: 406px;
    
    min-width: none;
}
.footer_third-col{
    width: 100%;
    max-width: 235px;
    
    min-width: none;
}
.footer_columns{
    column-gap: 50px;
}
.white_line_left{
border-left: 1px solid #fff;
padding-left: 28px;
}
.img_logo_prof{
    width: max-content;
}

.button_train{
    position: absolute;
    bottom: 28px;
    
}

.bg_color_block{
    background-color: rgba(160, 190, 221, 50%);
    padding-bottom: 114px;
    /* height: 100vh; */
    
}

/* page1 */
.container1{
    max-width: 1280px;
    width: 100%;
    min-width: 400px;
    background-color: #fff;
    min-height: 670px;
    /* height: fit-content; */
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-top: 20px;

    position: relative;
}
.container5{
    max-width: 1280px;
    width: 100%;
    min-width: 400px;
    background-color: #fff;
    min-height: 300px;
    height: fit-content;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-top: 20px;
}

.container_header{
    background-color: #43698F;
    height: 80px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    -ms-border-radius: 15px 15px 0 0;
    -o-border-radius: 15px 15px 0 0;

    
}
.text_home{
    max-width: 1280px;
    width: 100%;
    /* min-width: 400px; */
    color: #43698F;
    font-weight: bold;
}
.max-content{
    width: max-content;
}
.content1{
    max-width: 1280px;
    width: 100%;
    min-width: 400px;
    margin: 0px 20px;
}
.container_title{
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    padding: 20px 20px;
}
.tab{
    background-color: rgba(254, 254, 254, 0.5);
    height: 14px;
    width: 100%;
    max-width: 150px;
    min-width: none;
    border-radius: 15px 15px 0 0;
}
.active_tab{
    background-color: #FEFEFE;
    height: 14px;
    width: 100%;
    max-width: 150px;
    min-width: none;
    border-radius: 15px 15px 0 0;
}
.counter_exercise{
    color: #fff;
    padding: 20px 20px 5px;
}
.tab-exercise-container{
    padding:  0px 30px;
}
.container-exercise{
    padding: 30px 50px 40px ;
    height: fit-content;
}
.container-filling{
    display: flex;
    gap: 30px;
}
.text-zadanie{
    color: #251212;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    margin-left: 0px;
    max-width: 1120px;
}

.text-zadanie_1 {
    color: #251212;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    margin-left: 0px;
    max-width: 1120px;
    z-index: 3;
}

.img-exercise img{
    width: 100%;
}

.img_question {
    display: flex;
    margin: 0 auto;
    width:200px
}

.img_question_table {
    display: flex;
    margin: 0 auto;
    width:800px
}

.img_question_img {
    display: flex;
    margin: 0 auto;
    width:400px
}
.text-exercise{
    width: 100%;
    min-width: none;
    max-width: 630px;
}
.arrows{
    display: flex;
    width: 100%;
    justify-content: center;
}
.arrows1{
    display: flex;
    width: 100%;
    justify-content: end;
    position: absolute;
    bottom: 20px;
    right: 50px;
}
.list-dashed{
    list-style-type: none;
}
ul.list-dashed > li {
    
  }
  ul.list-dashed > li:before {
    content: "-";
   
  }
.time-counter{
    font-size: 22px;
    
}
.timer{
    display: flex;
    justify-content: end;
    
}
.timer img{
    height: 20px;
}
.timer_container{
    width: 70px;
    display: flex;
    align-items: center;
}

.balls{
    display: flex;
    justify-content: right;
    flex-direction: row;
    width: 100%;
}

button{
    border: none;
    background-color: rgba(255, 255, 255,0);
}
.text-center{
    text-align: center;
}
.hide {
    display: none;
}
.option-list{
    width: 50%;
    min-width: 200px;
}
.active{
    opacity: 0.8;
}
.hover{
      opacity: 0.5;
}
.option{
    padding: 20px;
    margin-bottom: 20px;
    /* background-color: #A2BEDD; */
    background-color: #ffffff;
    border: 3px solid #A2BEDD;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.option_img {
    width: 18%;
}

#left-list li{
    border: 1px solid black;
    width: 100px;
}

.hide {
    display: none;
}

.hovered {
    background-color: rgba(254, 254, 254, 0.5);
}

.correct {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #9ee7d5 !important;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    text-align: center;
    cursor: default;
}
video{
    width: 100%;
    height: 100%;
    max-height: 600px;
    min-height: none;
}
.incorrect {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #e7ad9e !important;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    text-align: center;
    cursor: default;
}
.disabled{
    pointer-events: none;
    cursor: default;
}

.container2{
    max-width: 1280px;
    width: 100%;
    min-width: 400px;
    background-color: #fff;
    height: 670px;
    
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-top: 20px;
}
.center-results{
   /*  height: 100%; */
}
.modal {
    display: none;
        vertical-align: middle !important;
        height: fit-content !important;
        position: relative !important;
        line-height: normal !important;
        z-index: 2;
        max-width: 500px;
        box-sizing: border-box;
        width: 90%;
        background: #fff;
        padding: 15px 30px;
        text-align: left;
        border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -ms-border-radius: 0px !important;
        -o-border-radius: 0px !important;
        box-shadow: none !important;
}

.modal_aom1 {
    display: none;
    vertical-align: middle !important;
    height: fit-content !important;
    position: relative !important;
    line-height: normal !important;
    z-index: 2;
    min-width: 500px !important;
    max-width: fit-content !important;
    box-sizing: border-box;
    width: fit-content;
    background: #fff;
    padding: 15px 30px;
    text-align: left;
    border-radius: 0px !important;
    margin-top: 100px;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    box-shadow: none !important;
}

.modal__header {
    color: #251212;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    margin-left: 0px;
    max-width: 1120px;
}

.modal-container {
    cursor: pointer;
    border: none;
    /* box-shadow: 0 14px 28px rgba(105, 105, 105, 0.25), 0 10px 10px rgba(80, 80, 80, 0.22); */
    padding: 10px;
    text-align: center;
    margin: 10px;
    width: 270px;
    height: 250px;
}

.blocker{
    z-index: 5 !important;
}

.drag_item {
    width: 300px;
    height: 30px;
    padding: 10px 30px;
    margin: 10px;
    border: 2px solid #3B5571;
    border-radius: 10px;
    color: #3B5571;
}

.container_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*слайдер*/

.slider-container {
    position: relative;
    width: 700px;
    height: 400px;
    margin: 0 250px 30px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(150, 150, 150, 0.25), 0 10px 10px rgba(145, 144, 144, 0.22);
    border-radius: 10px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 40px;
    color: #3B5571;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}



@media (max-width: 900px) {
    .container-filling{
        flex-wrap: wrap;
    }
}
@media (max-width:1223px){
    .footer1{
        justify-content: center;
        margin-bottom: 50px;
    }
   .column3{
    margin-top: 50px;
   }
   .footer_columns{
    display: flex;
    justify-content: center;
    gap: 30px;
   }
   .footer_columns h4{
    text-align: center;
   }
}

@media (min-width:1223px){
    .footer1{
        justify-content: space-between;
    }
}
@media (max-width:845px){
    .header-second{
        height: 70px;
    }
    .subtitle_header{
        margin-top: 20px;
        font-size: 16px;
    }
    header h2{
    margin: 0;
    font-size: 25px;
    font-weight: 700;
    }
    .buttons{
        display: none;
    }
    .triangle{
        display: none;
    }
}
@media (max-width:545px){
    .triangle{
        display: none;
    }

}
#piechart{
    width: 100%;
    max-width: 400px;
    min-width: 300px;
}
.box_1{
    width: 260px;
    height: 130px;
    background-color: rgba(208, 222, 238, 0.21);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: 1px solid rgba(67, 105, 143, 0.26);
    padding: 10px;
}
.box_1_text{
    font-weight: 600;
    color: #43698F;
    font-size: 22px;
    text-align: center;
}
.box_number{
    font-weight: bold;
    color: #43698F;
    font-size: 32px;
    text-align: center;
}
.container_box{
    gap: 30px;
}

/*Стили для селектора*/
.select {
    width: auto;
    min-width: 100px;
    height: 30px;
    background: rgba(160, 190, 221, 50%);
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    border-radius: 15px;
}
.selectValue {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.select .options {
    width: inherit;
    position: absolute;
}
.select .options div{
    width: 100%;
    height: 30px;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select .options div:hover{
    background: white;
}
/*-------------------------------*/

.selected {
    background-color: gray !important;
}
.choice {
    position: absolute;
    margin: 50px;
    margin-top: 200px;
}
.fixDan {
    align-self: normal;
    justify-content: space-around;
}